@charset "utf-8";
/* CSS DOCUMENT */

html, html * {
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: navajowhite;
}

img {
	width:100%;
	max-width:100%;
	height:auto;
	vertical-align:middle; 
}

a {
	text-decoration: none;
}

.row:before, row:after {
	content:"";
	display:table;
}

.col {
	width:100%;
}

.footer {
	width:100%;
	padding-top: 30px;
	font-size:16px;
	font-style:italic;
}

.style-logo {
	width:100px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

.style-icon {
	width:75px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

#about {
	padding: 10px; 40px; 10px;
	color: darkslateblue;
	font-weight: bold;
	text-align: center;
	margin-top:20px;
}

#sections {
	padding: 10px; 40px; 10px;
	color: darkslateblue;
	text-align: left;
	margin-top:20px;
}

h1 {
	font-size:70px;
	font-weight:bold;
	text-align:left;
	color: darkolivegreen;
	text-decoration: none;
/* here on homepage, for 'aggis.org' title */}

h2 {
	font-size:16px;
	font-weight:normal;
	text-align:center;
	color: darkslateblue;
/* here on homepage, for 'about' text */}
	
h3 {
	font-size:16px;
	font-weight:bold;
	text-align:center;
	color: darkslateblue;
	text-decoration: none;
/* here on homepage, for resume email etc links */}
	
@media screen and (min-width: 768px) /* For Tablet */
{
	.col {
		float:left;
	}
	h1 {
		font-size:80px;
		margin-bottom:5px;
	}
	body {
		max-width:778px;
	}
}
@media screen and (min-width: 1024px) /* For Desktop */
{
	h1 {
		font-size:100px;
		margin-bottom:50px;
	}
	body {
		max-width:1024px;
	}
}