@charset "utf-8";
/* CSS DOCUMENT */

html, html * {
	padding:0;
	margin:0;
	box-sizing: border-box;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}

body {
	margin-left: auto;
	margin-right: auto;
	background-color: navajowhite;
}

img {
	width:100%;
	max-width:100%;
	height:auto;
	vertical-align:middle; 
}

a {
	text-decoration: none;
}

.row:before, row:after {
	content:"";
	display:table;
}

.col {
	width:100%;
}

.col-tab-one-third {
	width:100%;
	padding: 10px; 5px; 10px;
}

.style-logo {
	width:100px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}

.style-icon {
	width:75px;
	margin-left:auto;
	margin-right:auto;
	display:block;	
}
	
.footer {
	width:100%;
	padding: 8px;
	font-size:16px;
	font-style:italic;
}
	
#section-title {
	padding: 5px; 30px; 5px;
	color: darkslateblue;
	font-weight: bold;
	text-align: left;
	margin-top:5px;
}

#sections-texts {
	padding: 5px; 30px; 5px;
	color: darkslateblue;
	text-align: left;
	margin-top:5px;
}

#section-embed {
	width:100%;
	padding: 8px;
}

h1 {
	font-size:70px;
	font-weight:bold;
	text-align:left;
	color: darkolivegreen;
	text-decoration: none;
/* here in sections, for 'aggis.org' title */}

h2 {
	font-size:16px;
	text-align:center;
	color: darkslateblue;
	text-decoration: none;
	font-weight: normal;
/* here in sections, for 'back to homepage' link */}
h3 {
	font-size:16px;
	text-align:center;
	color: mediumvioletred;
	text-decoration: none;
/* here in sections, for Pink Bold Subtitles over body text */}
h4 {
	font-size:16px;
	text-align:left;
	font-weight: normal;
	color: darkslateblue;
	text-decoration: none;
/* here in sections, for main body text write ups etc */}
h5 {
	font-size:16px;
	text-align:center;
	color: mediumvioletred;
	text-decoration: none;
	font-weight: normal;
/* here in sections, for alternate normal-weight pink subtitle for toggle */}
h6 {
	font-size:16px;
	text-align:center;
	font-weight: bold;
	color: darkslateblue;
	text-decoration: none;
/* here in sections, for Bold captions in gallery tables */}

@media screen and (min-width: 768px) /* For Tablet */
{
	.col {
		float:left;
	}
	h1 {
		font-size:80px;
		margin-bottom:5px;
	}
	body {
		max-width:778px;
	}
	.col-tab-one-third {
	width:32%;
	padding: 10px; 5px; 10px;
	}
}
@media screen and (min-width: 1024px) /* For Desktop */
{
	h1 {
		font-size:100px;
		margin-bottom:50px;
	}
	body {
		max-width:1024px;
	}
	.col-tab-one-third {
	width:32%;
	padding: 10px; 5px; 10px;
	}
}